.card-small{
    width: 289px;
    background-color: #f9f9ff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
    transition: 200ms ease-in;
}
.card-small:hover{
    box-shadow: 1px 1px 20px 2px rgb(231, 225, 225);
}

svg{
    width: 48px;
    height: 48px;
}

h3{
    color: #002347;
    text-align: left;
    
}


.card-small-span{
    font-style: normal !important;
    color: #7b838a;
    text-align: left;
 
}