

    .header{
      display: flex;
      justify-Content: space-between;
      align-Items: center;
      padding: 10px 20px;
      background-Color: #f9f9ff;
      border-Bottom: 1px solid #e5e5e5;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .logo {
      font-Size: 32px;
      font-Weight: bold;
      color: #001f3f !important;
      cursor: pointer;
    }
    .logo:hover{
color: #fdc632 !important;
    }
    .nav{
      display: flex;
      gap: 25px
    }
    .navLink {
      text-Decoration: none;
      color: #001f3f;
      font-Size: 18px;
      font-weight: 700;
      border-bottom: 4px solid transparent;
    }
    .navLink:hover {
      color: #fdc632;
      border-bottom: 4px solid #fdc632;
  }
    .authButtons{
      display: flex;
      gap: 10px;
      width: 180px;
    }

    .authButtons button{
      background-color: #001f3f !important;
      color: #fdc632;   
      cursor: pointer;
      border: 1px solid #001f3f;
    }
    .authButtons button:hover{
      color: #001f3f !important;
      background-color: #f9f9ff !important;   
      border: 1px solid #001f3f;
      cursor: pointer;
      box-shadow: 1px 1px 10px #001f3f;
    }
  
  
    .strike-through {
      font-Size: 24px;
      font-weight: 700;
    }

    .strike-through {
      position: relative;
      display: inline-block;
    }
    
    .strike-through::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 12px;
      bottom: 0;
      width: 100%;
      height: 3px; /* Thickness of the line */
      background-color: red; /* Color of the line */
      transform: rotate(10deg); /* Rotate to create a diagonal line */
      transform-origin: center; /* Rotate from the center */
    }
    